<!DOCTYPE html>
<html ng-app="appCrud">
<head>
<meta charset="UTF-8">
<title>CRUD</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
<script src="./js/app.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body ng-controller="pessoaController">

<h2 align="center">Cadastrar Pessoa</h2>
	
	<form class="form-group" name="formCad">
		<label for="nome">Nome</label>
    	<input type="text" class="form-control" name="nome" placeholder="Nome" ng-model="pessoa.nome" required>
    	<small id="nomeHelp" class="form-text text-muted" ng-show="formCad.nome.$error.required && formCad.nome.$dirty">Campo Nome Obrigatório</small>
    	
    	<label for="data">Data de Nascimento</label>
    	<input type="date" class="form-control" name="data" placeholder="Data de Nascimento" ng-model="pessoa.dataNascimento" required>
    	<small id="dataHelp" class="form-text text-muted" ng-show="formCad.data.$error.required && formCad.data.$dirty">Campo Data de Nascimento Obrigatório</small>
    	
    	<label for="doc">Documento de Identificação</label>
    	<input type="text" class="form-control" name="doc" placeholder="Documento de Identificação" ng-model="pessoa.docIdentificacao" required>
    	<small id="docHelp" class="form-text text-muted" ng-show="formCad.doc.$error.required && formCad.doc.$dirty">Campo Documento Obrigatório</small>
    	
    	<label for="sexo">Sexo</label>
    	<select class="form-control" name="sexo" ng-model="pessoa.sexo" required>
		  <option>Masculino</option>
		  <option>Feminino</option>
		</select>
		<small id="sexoHelp" class="form-text text-muted" ng-show="formCad.sexo.$error.required && formCad.sexo.$dirty">Campo Sexo Obrigatório</small>
		
		<input type="button" class="btn btn-primary" value="Salvar" ng-click="salvarPessoa()" ng-disabled="formCad.$invalid">
		<input type="button" class="btn btn-primary" value="Cancelar" ng-click="cancelarEdicao()" ng-disabled="formCad.$invalid">
	</form>
	
	<h2 align="center">Pessoas Cadastradas</h2>
	<table class="table">
	
		<tr>
			<th>Nome</th>
			<th>Data de Nascimento</th>
			<th>Doc</th>
			<th>Sexo</th>
			<th>Editar</th>
			<th>Excluir</th>
		</tr>
		<tr ng-repeat="pes in pessoas">
			<td>{{pes.nome}}</td>
			<td>{{pes.dataNascimento}}</td>
			<td>{{pes.docIdentificacao}}</td>
			<td>{{pes.sexo}}</td>
			<td><input type="button" class="btn btn-primary" value="Editar" ng-click="editarPessoa(pes)"></td>
			<td><input type="button" class="btn btn-primary" value="Excluir" ng-click="excluirPessoa(pes)"></td>
		</tr>
	</table>


</script>
</body>
</html>